.App {
  text-align: center;
  background-color: #3D3D3D;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #007FDB;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.navBar {
  width: 35vw;
  text-align: left;
  padding-top: 30px;
}
.logo {
  width:5vw;
  text-align: center;
}
.navTitle {
  width:25vw;
}
.songNoteTextArea {
  height: 80px;
  width: 40vw;
  margin-top: 5px;
}
.textArea {
  width: 40vw;
  height: 3vw;
  margin-top: 5px;
  margin-bottom: 5px;
}
.btn {
  margin-bottom: 10px;
}
.btn:hover {
  background-color:#007FDB;
}
.submitButton {
  text-align: left;
}
.playListForm {
  margin-top: 50px;
  padding-right: 0;
  text-align: left;
  color: white;
}
.formTitle {
  text-align: left;
  color: white;
}
.playlist {
  margin-top: 30px;
  margin-right: 10px;
}
.playListItem {
  margin: 5px;
  opacity: .7;
}
